.idea/
custom.yml
bin/
log/*
!log/.gitkeep
eylogs/
spec/results/
spec/sandbox/
tmp/
*.swp
*.orig
.bundle
.DS_STORE
.DS_Store
*.xml
*.log
*.pem
build-number.txt
sauce_connect.log*
*.*~
capybara-*.html
.ruby-*
